body{
    margin: auto;
    padding: 0;

}
 /* 
.container{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 250px auto;
}

.lateral{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border: solid, 1px;
    border-color: black;
}
.articulos{
    margin:0px;
    padding: 0px;
    display: flex;
   justify-content: space-around;
}
.articulos h5{
    margin: 0;
    padding: 0;

}
.articulos p{
    margin: 0;
    color: gray;
}

*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: darkblue;
    height: 70px;
    font-size: large;
}

h2{
    color: #fff;
}
menu{
    grid-area: menu;
    background-color: bisque;
  
    padding-left: 10px;
    margin: 0;
}
main{
    grid-area: main;
    background-color: blue;
   padding-top: 30px;
   padding-bottom: 30px;
}

footer{
    background-color: brown;
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas: "header header header" 
    "menu main main"
    "footer footer footer";
    
}
.grid-item {
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content:space-around;
    width: 100%;
}

.principal{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid brown;
    width: 250px;
    height: 350px;
    margin: 20px;
    background-color: azure;
}

.card h5{
    margin: 10px;
    padding: 0;
}
h6{
    margin: 10px;
}

.card .texto{
    align-items: center;
    text-align: center;
    width: 250px;
    height: 70px;
}
button {
    width: 250px;
    border-radius: 0;
    border: 0;
    background-color: darkblue;
    color: #fff;
    padding: 0;
    height: 30px;
}
   
.categorias {
    display:flex;
    justify-content:start;
    flex-grow: 1;

    
}
.categorias h5{
    margin: 0;
}
.categorias p{
    margin: 0px;
    padding: 0px;
}